<section ng-controller="ArticlesController" ng-init="findOne()">
  <div class="page-header">
    <h1>Edit Article</h1>
  </div>
  <div class="col-md-12">

    <map zoom='5'>
   <marker position="[0,0]" visible="true"> </marker>
   <!-- a initial position must be set because it will prompt the users current geolocation and set it to that -->
  </map>

    <form name="articleForm" class="form-horizontal" ng-submit="update(articleForm.$valid)" novalidate>
      <fieldset>
        <div class="form-group" show-errors>
          <label for="title">Title</label>
          <input name="title" type="text" ng-model="article.title" id="title" class="form-control" placeholder="Title" required>
          <div ng-messages="articleForm.title.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Article title is required.</p>
          </div>
        </div>
        <div class="form-group">
          <label for="content">Content</label>
          <textarea name="content" ng-model="article.content" id="content" class="form-control" cols="30" rows="10" placeholder="Content"></textarea>
        </div>
        <div class="form-group">
          <input type="submit" value="Update" class="btn btn-default">
        </div>

        <div class="form-group">
          <label class="control-label" for="lat">Latitude</label>
          <div class="controls">
            <textarea name="content" data-ng-model="article.lat" id="content" class="form-control" cols="10" rows="1" placeholder="Latitude"
              required>
            </textarea>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label" for="lon">Longitude</label>
          <div class="controls">
            <textarea name="content" data-ng-model="article.lon" id="content" class="form-control" cols="10" rows="1" placeholder="Longitude"
              required>
    </textarea>
          </div>
        </div>

        <div ng-show="error" class="text-danger">
          <strong ng-bind="error"></strong>
        </div>
      </fieldset>
    </form>
  </div>
</section>