<section ng-controller="ArticlesController" ng-init="findOne()">
  <div class="page-header">
    <h1 ng-bind="article.title"></h1>
  </div>
  <map zoom='9'>
   <marker position="[0,0]" visible="true"> </marker>
   <!-- a initial position must be set because it will prompt the users current geolocation and set it to that -->
 </map> 
 Latitude:
  <p class="lead" data-ng-bind="article.lat"></p>
  Longitude:
  <p class="lead" data-ng-bind="article.lon"></p>
  <div class="pull-right" ng-show="authentication.user._id == article.user._id">
    <a class="btn btn-primary" ui-sref="articles.edit({articleId: article._id})">
      <i class="glyphicon glyphicon-edit"></i>
    </a>
    <a class="btn btn-primary" ng-click="remove();">
      <i class="glyphicon glyphicon-trash"></i>
    </a>
  </div>
  <small>
    <em class="text-muted">
      Posted on
      <span ng-bind="article.created | date:'mediumDate'"></span>
      by
      <span ng-bind="article.user.displayName"></span>
    </em>
  </small>
  <p class="lead" ng-bind="article.content"></p>
</section>